header{
    background-color: white;
    height: 10vh;
    box-shadow: 0 5px 30px rgb(0 22 84 / 10%);
    padding: 15px 0;
    position: sticky;
    top: 0;
    z-index: 999;
}
header img{
    width: 170px;
}
header a{
    margin-left: 30px;
    transition: 0.5s;
    font-weight: 500;
}
header a:hover{
    color: mediumseagreen;
}
header span{
    width: auto;
    padding: 0 6px;
    background-color: forestgreen;
    border-radius: 50px;
    color: white;
    margin-right: 4px;
    font-weight: 400;
}
header h4{
    font-weight: 500;
    margin-right: 20px;
}
header .toggle{
    display: none;
}
.dropbtn {
    background-color: white;
    color: black;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content p {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-style: none none solid none;
    border-width: 0.01px;
}

.dropdown-content p:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: gainsboro;
}